        {% include 'header.html' %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                 {% for blog in post %}
                    <div class="post-preview">
                        <a href="{{ url_for('get_page', num=blog['id'])}}">
                            <h2 class="post-title">{{blog['title']}}</h2>
                            <h3 class="post-subtitle">{{blog['body']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{{ url_for('home')}}">Start Bootstrap</a>
                            {{date}}
                        </p>
                    </div>
                    {% endfor %}


                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
    {% include 'footer.html' %}